---
layout: home
title: Home
order: 00
---

<div class="full" style="background-color: black;">
  <div class="container-fluid">
    <div class="row bottomrow">
      <div class="col stop">
        <h1>Retrospective tax is unacceptable and will destroy lives.</h1>
      </div>
      <div class="col stop">
        <h2>Help us to <span class="text-danger">fight</span> unlawful foreign claims.</h2>
      <p><a class="btn btn-danger btn-lg" href="about-us" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <br />
    <br />
  </div>
</div>

<div class="frontblock">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Aussies against unlawful foreign tax claims</h1>
        <p><b>Retrospective tax is unacceptable &mdash; all Australians deserve certainty in their affairs.</b></p>
        <p><b>Foreign claims should only be considered in cases of criminality, and certainly not in contrived attempts to bolster a foreign agency's funds due to decades of incompetence, neglect and inaction.</b></p>
        <p>We are a support group for Australians who are now at the mercy of the Australian Tax Office for unlawful foreign tax claims from other countries.</p> 
        <p>The focus of our group was initially to fight the retrospective UK Loan Charge, but we now see unlawful foreign tax claims from outside the UK too.</p>
        <p>If you:
        <ul>
          <li>worked as a contractor or freelancer in the UK and were paid using a loan arrangement</li>
          <li>worked outside of Australia, but now find yourself with an invalid or unlawful foreign tax claim on the ATOs foreign claims register</li>
        </ul>
        you should get in touch with us.</p>
        <p><a class="btn btn-primary" href="loan-charge" role="button">Learn more &raquo;</a></p>
      </div>
      <div class="col-sm-6">
        <img src="{{ '/assets/images/anxiety.jpg' | relative_url }}" class="img-fluid">
      </div>
    </div>
  </div>
</div>


<div class="frontblock text-white" style="background-color: black;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fEbvuBh40YQ?rel=0&modestbranding=1" allowfullscreen></iframe>
        </div>
        <h4>UK Parliamentarians speaking up against the Loan Charge</h4>
      </div>
      <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kTWSCmR0D-0?rel=0&modestbranding=1" allowfullscreen></iframe>
        </div>
        <h4>"This (loan charge) should not be retrospective at all" - David Davis MP</h4>
      </div>
    </div>
  </div>
</div>


<div class="frontblock" style="background-color: #e8eaed;">
  <div class="container">
    <div class="example">
      <h2>Latest News</h2>

      <div class="card-deck">
        {% for post in site.posts %}
        <div class="card">
          <img class="card-img-top" src="{{ '/assets/images/' | append: post.image | append: '.jpg' | relative_url }}">
          <div class="card-body">
            <h6 class="card-title">{{ post.title }}</h6>
            <p class="card-text small">{{ post.description }}</p>
          </div>
          <div class="card-footer">
            <div class="row no-gutters">
              <div class="col-auto mr-auto">
                <span class="small text-muted">Posted {{ post.date | date_to_long_string }}</span>
              </div>
              <div class="col-auto">
                <span class="small"><a href="{{ post.url }}">Read More</a></span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<div class="frontblock" style="background-color: #ffffff;">
  <div class="container">
    <h2>Facts</h2>
    {% for i in (1..4) %}
    <img src="{{ '/assets/images/facts' | append: i | append: '.png' | relative_url }}" style="padding: 0.5em;">
    {% endfor %}
  </div>
</div>


<div class="frontblock text-white bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Contact Us</h1>
        <p>If you would like to join us, or have any questions, please provide your details in the form below.</p>
      </div>

      <div class="col-sm-6">
        <form action="https://6k1p5kt1f5.execute-api.us-west-2.amazonaws.com/Prod/" method="POST" id="contact-us-form">
          <div class="form-group">
            <label for="nameInputEmail1">Name</label>
            <input type="text" class="form-control" id="nameInputEmail1" name="name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email">
          </div>
          <div class="form-group">
            <label for="phoneInputEmail1">Phone number</label>
            <input type="text" class="form-control" id="phoneInputEmail1" name="phone">
          </div>
          <div class="form-group">
            <label for="messageInputEmail1">Message</label>
            <textarea type="textarea" rows="6" class="form-control" id="messageInputEmail1" name="message"></textarea>
          </div>
          <div class="thanks alert alert-success" role="alert">
            Thanks! We'll contact you soon.
          </div>
          <div class="errors alert alert-danger" role="alert">
            There was an error submitting the form.
          </div>
          <div class="loader"></div>
          <button type="submit" class="btn btn-primary g-recaptcha" data-sitekey="6LeXi3IUAAAAAA4hilHg_PTgAEzRBQvuVFvz_Zc9" data-callback="onContactUsSubmit" data-badge="inline">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
